/* ---------------- RESET ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  overflow: auto;
}

/* ---------------- VARIÁVEIS ---------------- */
:root {
  --primaria: #beff1b;
  --secundaria: #0f172a;
  --escuro: #0f172a;
  --claro: #e2e8f0;
}

/* ---------------- HEADER ---------------- */
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;
  /* Limita o tamanho para não ficar estourando */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 20px 40px;
  z-index: 99;

}

/* Logo */
header img.logo {
  width: 200px;
  cursor: pointer;
}

/* Caixa geral da direita */
.nav-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.4rem;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

/* Search */
.search-box {
  height: 40px;
  border-radius: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.4s;
  color: #ffffff;
}

.search-btn {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  width: 0;
  padding: 0;
  line-height: 40px;
  transition: 0.4s;
}

.search-box:hover .search-txt {
  width: 180px;
  padding: 0px;
  color: #000;

}

.search-box:hover {
  background-color: rgba(112, 112, 112, 0.76);
  box-shadow: 0 0 20px rgba(190, 255, 27, 0.5);
  border-radius: 40px;
  padding: 10px;
  animation: pulseShadow 1.5s infinite ease-in-out;
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 10px rgba(190, 255, 27, 0.3);
  }

  50% {
    box-shadow: 0 0 40px rgba(190, 255, 27, 0.9);
  }

  100% {
    box-shadow: 0 0 10px rgba(190, 255, 27, 0.3);
  }
}

.search-box:hover .search-btn {
  color: #fff;
}

.search-txt:hover::placeholder {
  color: #fff;
}

/* Ícones */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons img {
  width: 30px;
  cursor: pointer;
}

.cart {
  color: white;
  font-size: 23px;
  border-radius: 50%;
  cursor: pointer;
}

.cart:hover {
  color: var(--primaria);
  filter: drop-shadow(0 0 10px var(--primaria));
  animation: pulseShadow 1.5s infinite ease-in-out;
}

.cart-window {
  display: none;
  position: absolute;
  top: 60px;
  right:3rem;
  background-color: rgba(24, 24, 24, 0.2);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
}

.cart-window h3 {
  margin-top: 0;
}

.cart-items {
  max-height: 200px;
  overflow-y: auto;
}

.cart-total {
  font-weight: bold;
  margin: 10px 0;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  background-color: var(--primaria);
  border: none;
  border-radius: 1000px;
}

.checkout-btn:hover {
  color: black;
  box-shadow: 0 0 20px rgba(190, 255, 27, 0.5);
  animation: pulseShadow
}

/* ---------------- container ---------------- */
.container {
  background-image: radial-gradient(#ffffff, #4a4a4a);
  height: 100vh;
  position: relative;
}

/* Linha central da container */
.container .list::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 200px;
  width: 100%;
  border-top: 1px solid #fff;
}

/* Lista de itens (carros) */
.container .list {
  width: 70vw;
  height: 100%;
  margin: auto;
  position: relative;
}

/* Item (carro individual) */
.list .item {
  position: absolute;
  inset: 0;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(calc(100vw * var(--calculation, 1)));
}

.list .item .car-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}

.list .item .car-img img {
  width: 100%;
  transform: rotate(0);
  transition: 0.5s;
  transition-delay: 0.3s;
}

.list .item .car-img::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100px;
  top: 150%;
  left: 150px;
  filter: blur(50px);
}

/* Conteúdo textual */
.list .item .content {
  position: absolute;
  right: 100px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.list .item .content h2 {
  font-size: 8em;
  line-height: 1em;
  font-family: "League Gothic", sans-serif;
  color: #000;
  transition: 0.7s;
  transition-delay: 0.5s;
}

.list .item .content .car-information {
  font-weight: bold;
  color: #000;
  transition: 0.7s;
  transition-delay: 0.3s;
}

.list .item .content .descripton {
  color: #000;
  font-size: 12px;
  text-align: right;
  max-width: 400px;
  transition: 0.7s;
  transition-delay: 0.7s;
}

/* Estado ativo */
.list .item.active {
  transform: translateX(0);
  opacity: 1;
}

.list .item.active .car-img img {
  transform: rotate(-20deg);
}

.list .item.active .content .car-information,
.list .item.active .content h2,
.list .item.active .content .descripton {
  transform: translateX(0);
  opacity: 1;
}

/* Animação de entrada */
.list .item .content .car-information,
.list .item .content h2,
.list .item .content .descripton {
  transform: translateX(calc(200px * var(--calculation, 1)));
  opacity: 0;
}

/* ---------------- ARROWS ---------------- */
.arrows {
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25px);
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 30px;
}

.arrow:nth-child(1) img {
  transform: scaleX(-1);
}

.arrow:hover {
  background-color: #8b8b8b;
}

/* ---------------- INDICATORS ---------------- */
.indicators {
  display: none;
}


/* ---------------- BUTTONS ---------------- */
.Submit {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #313133;
  background-color: var(--primaria);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(190, 255, 27, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.Submit::before {
  content: "";
  position: absolute;
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.Submit:hover,
.Submit:focus {
  color: #313133;
  transform: translateY(-6px);
}

.Submit:hover::before,
.Submit:focus::before {
  opacity: 1;
}

.Submit:hover::after,
.Submit:focus::after {
  animation: none;
  display: none;
}